[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
openai = "*"
faiss-cpu = "*"
gitpython = "*"
python-dotenv = "*"
tiktoken = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.10"
